@model DentalPatientsManager.Web.ViewModels.Patient.PatientsListViewModel
@{
    ViewBag.Title = "Моите пациенти";
}

<h2>Всички пациенти</h2>
<hr />
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сортиране <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="?sortBy=date">По дата</a></li>
                        <li><a href="?sortBy=name">По име</a></li>
                    </ul>
                </li>
            </ul>
            @using (@Html.BeginForm("ListPatients", "Patient", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
            {
                <div class="form-group">
                    @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Търси" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</nav>

<div>
    <table class="table-striped table">
        <tr>
            <th>Име</th>
            <th>Телефон</th>
            <th>Записан на</th>
        </tr>
            @foreach (var patient in Model.Patients)
            {
                <tr>
                    <td>
                        <a href="/Patient/Details/@patient.Id">
                            @patient.FirstName @patient.LastName
                        </a>
                    </td>
                    <td>
                        @patient.Tel
                    </td>
                    <td>
                        @patient.CreatedOn
                    </td>
                </tr>
            }
    </table>
    
</div>
<div>
    <nav>
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li>
                    <a href="/Patient/ListPatients/@(Model.CurrentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }

                <li class="@className"><a href="/Patient/ListPatients/@i">@i</a></li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li>
                    <a href="/Patient/ListPatients/@(Model.CurrentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }

        </ul>
    </nav>
</div>
